<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin | Dashboard</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <style>
      .charts {
        width: 50%;
        height: 50%;
      }
    </style>
  </head>
  <body>
    <!-- ========================================= -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"
        ><h2 class="display-4 text-info">Welcome</h2></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-light" href="/admindashboard/passenger"
              >Passengers <span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admindashboard/driver"
              >Drivers</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" href="/admindashboard/requests"
              >Driver Requests</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              href="/admindashboard/individualridesdetails"
              >Individual Rides</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              href="/admindashboard/buddyridesdetails"
              >Buddy Rides</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- ========================================= -->
    <div class="container mt-5 charts">
      <h1 class="m-5 text-center display-4">
        NUMBER OF RIDES PER MONTH (2020)
      </h1>
      <canvas id="myChart-bar" class=""></canvas>
    </div>
    <br /><br />
    <div class="container mt-5 charts">
      <h1 class="m-5 text-center display-4">
        TRAFFIC PER MONTH (2020)
      </h1>
      <canvas id="myChart-line" class=""></canvas>
    </div>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script src="/scripts/adminCharts.js"></script>
  </body>
</html>
