<!DOCTYPE html>
<html>
  <head>
    <title>
      Contact | Find My Buddy Rider
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="find my buddy rider, share ride" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link href="styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <!-- start plugins -->
    <script src="js/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <a href="/"><img src="images/logo.jpg" alt=""/></a>
        </div>
        <div class="menu">
          <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li class="current"><a href="/contact">Contact Us</a></li>
            <li>
              <a href="/login" id="login">
                <span class="glyphicon glyphicon-log-in"></span> LogIn</a
              >
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <!----//End-top-nav---->
      </div>
    </div>
    <div class="about">
      <div class="container">
        <ul class="about_head">
          <li class="about_head-left"><h1>Contact Us</h1></li>
          <li class="about_head-right">
            <p>Fell free to talk to us</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="blog">
        <div class="col-md-6 contact_left">
          <h2>Contact Details</h2>
          <img src="images/contact1.jpg" class="img-responsive" alt="" />
          <p>
            This is some dummy, meaningless text This is some dummy, meaningless
            text This is some dummy, meaningless text This is some dummy,
            meaningless text This is some dummy, meaningless text This is some
            dummy, meaningless text This is some dummy, meaningless text This is
            some dummy, meaningless text This is some dummy, meaningless text
            This is some dummy, meaningless text This is some dummy, meaningless
            text This is some dummy, meaningless text
          </p>
          <ul class="address">
            <i class="location"> </i>
            <li class="address_desc">
              <h5>COMSATS University, Mansehra Road, Abbottabad</h5>
            </li>
            <div class="clearfix"></div>
          </ul>
          <ul class="address">
            <i class="phone"> </i>
            <li class="address_desc">
              <h5>03**-*******</h5>
            </li>
            <div class="clearfix"></div>
          </ul>
          <ul class="address">
            <i class="msg"> </i>
            <li class="address_desc">
              <h5>
                <a href="gmalito:mail@demolink.or">usmansardar247@gmail.com </a>
              </h5>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <div class="col-md-6 contact_right">
          <h2>Write to us</h2>
          <form>
            <div class="column_2">
              <input
                type="text"
                class="text"
                value="Name"
                onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Name';}"
              />
              <input
                type="text"
                class="text"
                value="Email"
                onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Email';}"
                style="margin-left:2.7%"
              />
            </div>
            <div class="column_1">
              <input
                type="text"
                class="text"
                value="Subject"
                onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Subject';}"
              />
            </div>
            <div class="column_3">
              <textarea
                value="Message"
                onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Message';}"
              >
Message</textarea
              >
            </div>
            <div class="form-submit1">
              <label
                class="btn btn-primary btn-normal btn-inline "
                target="_self"
                ><input type="submit" value="Submit"
              /></label>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="col-md-3 box_3">
          <h3>About Us</h3>
          <p>
            This is a dummy text This is a dummy text This is a dummy text This
            is a dummy text This is a dummy text This is a dummy text This is a
            dummy text This is a dummy text This is a dummy text
          </p>
        </div>
        <!------------------------Edited -->
        <div class="col-md-3 box_5"></div>
        <div class="col-md-3 box_5">
          <h3>Site Map</h3>
          <div class="footer-list1">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 box_5">
          <h3>Contact Us</h3>
          <div class="footer-list">
            <ul>
              <li class="list_top">
                <i class="fa fa-address-card">
                  COMSATS University, Mansehra Road, Abbottabad
                </i>
              </li>
              <li class="list_top">
                <i class="fa fa-phone"> 0374-8675234 </i>
              </li>
              <li class="list_top">
                <i class="fa fa-address-card"> usmansardar247@gmail.com</i>
              </li>
            </ul>
          </div>
          <p>
            here goes some additional stuff
          </p>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="copy">
          <p>
            © 2019 All Rights Reseved Designed by
            <a href="#">COMSATS</a>
          </p>
        </div>
        <div class="footer_social">
          <a href=""><i class="fa fa-facebook"></i></a>

          <a href=""><i class="fa fa-instagram"></i></a>

          <a href=""><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
