<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />

    <!----------------Map Dependencies-------------->
    <link rel="stylesheet" href="/styles/mapPage.css" />

    <!---------------------------------------------->

    <link rel="stylesheet" href="/styles/mapPage.css" />
    <title>Driver</title>
  </head>
  <body>
    <div class="header">
      <span id="schedule"><a href="#">Schedule Ride</a></span>
      <span class="dropdown"
        ><a href="#"><%= data.name%></a><img src="<%=data.picture%>" alt="" />
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="upload/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>

    <!---------------------- Map ---------------------->
    <input type="hidden" id="_email" value="<%=data.email%>" />
    <div id="map" class="map"></div>

    <!-- socket -->
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <!-- <script src="/web-sockets/driverSocket.js"></script> -->

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=data.key%>&callback=initMap"
    ></script>
    <script defer src="/scripts/mapDriver.js"></script>
  </body>
</html>
