<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />

    <!----------------Map Dependencies-------------->
    <link rel="stylesheet" href="/styles/mapPage.css" />

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=data.key%>&callback=initMap"
    ></script>

    <!---------------------------------------------->
    <link rel="stylesheet" href="/styles/mapPage.css" />
    <title>Driver</title>
  </head>
  <body>
    <div class="header">
      <span id="schedule"><a href="#">Schedule Ride</a></span>
      <span class="dropdown"
        ><a href="#"><%= data.name%></a><img src="<%=data.picture%>" alt="" />
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="upload/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>

    <!---------------------- Map ---------------------->
    <div id="map" class="map"></div>

    <script type="text/javascript">
      function initMap() {
        // Options
        let options = {
          center: { lat: 30.3753, lng: 69.3451 },
          zoom: 8,
        };
        // New Map
        map = new google.maps.Map(document.getElementById("map"), options);
        // Add Marker
        let market = new google.maps.Marker({
          position: {},
        });
      }
    </script>
  </body>
</html>
