<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home | Find My Buddy Rider</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <a href="/"><img src="images/logo.jpg" alt="" /></a>
        </div>
        <div class="menu">
          <ul class="nav" id="nav">
            <li class="current"><a href="#">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li>
              <a href="/login" id="login">
                <span class="fa fa-sign-in"></span> LogIn</a
              >
            </li>
          </ul>
        </div>
        <!----//End-top-nav---->
      </div>
    </div>

    <!-- -----------------------------Index page Slider---------------------------->

    <!--  <div class="banner">-->

    <div class="banner">
      <figure>
        <img src="images/slide1.jpg" />
        <img src="images/slide4.jpg" />
        <img src="images/slide3.jpg" />
        <img src="images/carsGroup.jpeg" />
        <img src="images/slide2.jpg" />
      </figure>
      <div class="HomeDriverButt">
        <h1 id="driverButt">
          <a href="/driversignup" style="color: aliceblue;">Become A Driver</a>
        </h1>
        <p>
          Join us as a driver and start earning
        </p>
      </div>
      <div class="banner_container"></div>
    </div>
    <div class="driverReq">
      <h1>TO BECOME A DRIVER</h1>
      <h2>YOU MAY NEED</h2>
      <div>
        <i class="fa fa-car"></i>
        <p>TO OWN A CAR</p>
      </div>
      <div>
        <i class="fa fa-mobile"></i>
        <p>SMART PHONE</p>
      </div>
      <div>
        <i class="fa fa-drivers-license"></i>
        <p>VALID DRIVING LICENSE</p>
      </div>
      <div>
        <i class="fa fa-calendar"></i>
        <p>YOU HAVE TO BE OVER 18</p>
      </div>
    </div>

    <div class="box_1">
      <div class="container">
        <h3>"Read More About <span class="m_1">Us"</span></h3>
        <p>
          Our aim is to provide you best experience and want to hear positive a
          feedback from you..
        </p>
        <a href="/about" title="Read More" class="btn1" target="_self"
          >Read More</a
        >
      </div>
    </div>
    <div class="box_2">
      <div class="container">
        <div class="col-md-6 grid_1">
          <h4 class="m_2">Testimonial</h4>
          <div class="lsidebar span_1_of_about">
            <img src="images/defaultPic.png" class="img-responsive" alt="" />
          </div>
          <div class="cont span_2_of_about">
            <p>
              <span class="quotes"> </span>This is a dummy text This is a dummy
              text This is a dummy text This is a dummy text This is a dummy
              text This is a dummy text <span class="quote_down"></span>
            </p>
            <h3>
              Someone
              <span><a href="#">- Designation</a></span>
            </h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="col-md-3 box_3">
          <h3>About Us</h3>
          <p>
            our first priority is to simplify and improve the life of other
            people, and inspire others as an organization
          </p>
        </div>
        <!------------------------Edited -->
        <div class="col-md-3 box_5"></div>
        <div class="col-md-3 box_5">
          <h3>Site Map</h3>
          <div class="footer-list1">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 box_5">
          <h3>Contact Us</h3>
          <div class="footer-list">
            <ul>
              <li class="list_top">
                <i class="fa fa-address-card">
                  COMSATS University, Mansehra Road, Abbottabad
                </i>
              </li>
              <li class="list_top">
                <i class="fa fa-phone"> 0374-8675234 </i>
              </li>
              <li class="list_top">
                <i class="fa fa-address-card"> usmansardar247@gmail.com</i>
              </li>
            </ul>
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="copy">
          <p>
            © 2019 All Rights Reseved Designed by
            <a href="#">COMSATS</a>
          </p>
        </div>
        <div class="footer_social">
          <a href=""><i class="fa fa-facebook"></i></a>

          <a href=""><i class="fa fa-instagram"></i></a>

          <a href=""><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
