<!DOCTYPE html>
<html lang="en" style="background: rgb(248, 248, 236);">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | find My Buddy Rider</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="loginHeadBanner">
      <div class="header">
        <div class="container">
          <div class="logo">
            <a href="/"><img src="images/logo.jpg" alt=""/></a>
          </div>
          <div class="menu">
            <ul class="nav" id="nav">
              <li class="current"><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
          <!----//End-top-nav---->
        </div>
      </div>
      <div class="loginbox">
        <a href="/driverlogin">
          <div class="driver">
            <i class="fa fa-address-card"></i>
            <h1>Driver Login</h1>
            <a href="/driversignup" class="fa fa-user-plus">SignUp</a>
          </div>
        </a>
        <a href="passengerlogin">
          <div class="passenger">
            <i class="fa fa-address-card-o"></i>
            <h1>Passenger Login</h1>
            <a href="/passengersignup" class="fa fa-user-plus">SignUp</a>
          </div>
        </a>
      </div>
    </div>
    <div class="login_footer">
      <div class="footer">
        <div class="container">
          <div class="col-md-3 box_3">
            <h3>About Us</h3>
            <p>
              This is a dummy text This is a dummy text This is a dummy text
              This is a dummy text This is a dummy text This is a dummy text
              This is a dummy text This is a dummy text This is a dummy text
            </p>
          </div>
          <!------------------------Edited -->
          <div class="col-md-3 box_5"></div>
          <div class="col-md-3 box_5">
            <h3>Site Map</h3>
            <div class="footer-list1">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 box_5">
            <h3>Contact Us</h3>
            <div class="footer-list">
              <ul>
                <li class="list_top">
                  <i class="fa fa-address-card">
                    COMSATS University, Mansehra Road, Abbottabad
                  </i>
                </li>
                <li class="list_top">
                  <i class="fa fa-phone"> 0374-8675234 </i>
                </li>
                <li class="list_top">
                  <i class="fa fa-address-card"> usmansardar247@gmail.com</i>
                </li>
              </ul>
            </div>
            <p>
              here goes some additional stuff
            </p>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="copy">
            <p>
              © 2019 All Rights Reseved Designed by
              <a href="#">COMSATS</a>
            </p>
          </div>
          <div class="footer_social">
            <a href=""><i class="fa fa-facebook"></i></a>

            <a href=""><i class="fa fa-instagram"></i></a>

            <a href=""><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
