<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passenger</title>
    <!-- <meta http-equiv="x-ua-compatible" content="IE=edge" /> -->

    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />
    <!----------------Map Dependencies-------------->
    <link rel="stylesheet" href="/styles/mapPage.css" />

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap"
    ></script>

    <!---------------------------------------------->
  </head>

  <body>
    <div class="header">
      <span id="schedule"><a href="#">Schedule Ride</a></span>
      <span class="dropdown"
        ><a href="#"><%= data.name%></a>
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/passengerlogin/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <!---->

    <!---------------------Booking Details------------------>

    <div class="bookingDetails">
      <div class="head"><h1>Where Can We Pick You Up?</h1></div>
      <form action="">
        <input type="text" placeholder="Enter Pickup Location" /><br />
        <button>Proceed</button>
      </form>
      <hr />
    </div>
    <!---------------------- Map ---------------------->
    <div id="map" class="map"></div>

    <script type="text/javascript">
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 34.1688, lng: 73.2215 },
          zoom: 12,
        });
      }
    </script>
  </body>
</html>
