<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passenger</title>
    <!-- <meta http-equiv="x-ua-compatible" content="IE=edge" /> -->

    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />
    <!----------------Map Dependencies-------------->
    <link rel="stylesheet" href="/styles/mapPage.css" />
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="header">
      <span id="schedule"><a href="#">Schedule Ride</a></span>
      <span class="dropdown"
        ><a href="#"><%= data.name%></a>
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Schedule Ride</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/passengerlogin/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <!---->

    <!---------------------Booking Details------------------>

    <div class="bookingDetails">
      <div class="head"><h1>Where Can We Pick You Up?</h1></div>
      <form action="" id="search_form">
        <input
          type="text"
          id="search"
          placeholder="Enter Pickup Location"
        /><br />
        <button>Proceed</button>
      </form>
      <hr />
    </div>
    <!---------------------- Map ---------------------->
    <div id="map" class="map"></div>

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=data.key%>&callback=initMap&libraries=places"
    ></script>
    <script src="/scripts/mapPassenger.js"></script>

    <script src="http://localhost:8080/socket.io/socket.io.js"></script>

    <script src="/web-sockets/passengerSocket.js"></script>
  </body>
</html>
