<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passenger</title>
    <!-- <meta http-equiv="x-ua-compatible" content="IE=edge" /> -->

    <link
      href="https://fonts.googleapis.com/css?family=Inter|Sen&display=swap"
      rel="stylesheet"
    />
    <!----------------Map Dependencies-------------->
    <link rel="stylesheet" href="/styles/mapPage.css" />
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="header">
      <span id="schedule"><a href="/passenger/casualride">Book Ride</a></span>
      <span id="schedule"><a href="/passenger/buddyride">Buddy Ride</a></span>
      <span id="schedule"
        ><a href="/schedule/passenger/all-scheduled-rides"
          >Scheduled Ride</a
        ></span
      >
      <span class="dropdown"
        ><a href="#" id="pass_name"><%= data.name%></a>
        <input type="hidden" id="pass_email" value="<%=data.email%>" />
        <input type="hidden" id="pass_phone" value="<%=data.phone%>" />

        <div class="dropdown-content">
          <ul>
            <li><a href="#">Profile</a></li>
            <li>
              <a href="/schedule/all-scheduled-rides">Scheduled Ride</a>
            </li>
            <li><a href="#" id="_carpool">Carpool</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/passengerlogin/logout">LogOut</a></li>
          </ul>
        </div>
      </span>
    </div>
    <!---->

    <!---------------------Booking Details------------------>

    <!-------------------------- Socket ---------------------->

    <script src="/socket.io/socket.io.js"></script>

    <!---------------------- Map ---------------------->

    <div id="map" class="map"></div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=data.key%>&callback=initMap&libraries=places"
    ></script>
    <script src="/scripts/passengerStartMap.js"></script>
  </body>
</html>
