<!DOCTYPE html>
<html>
  <head>
    <title>
      Services | Find My Buddy Rider
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Uibrush Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link href="styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <a href="/"><img src="images/logo.jpg" alt="" /></a>
        </div>
        <div class="menu">
          <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li class="current"><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li>
              <a href="/login" id="login">
                <span class="glyphicon glyphicon-log-in"></span> LogIn</a
              >
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <!----//End-top-nav---->
      </div>
    </div>
    <div class="about">
      <div class="container">
        <ul class="about_head">
          <li class="about_head-left"><h1>Services</h1></li>
          <li class="about_head-right">
            <p>You are in safe hands</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="about_top">
        <div class="col-md-6 box_6">
          <img src="images/services.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6 about_top-right">
          <h2>Our Services</h2>
          <p>
            We have a responsibility to deliver the greatest experiences to our
            Customers and Drivers. We help customers to get a ride from home and
            drivers in return are paid decently
          </p>

          <p>
            Customers can share their ride with other customers who are looking
            for shared rides and in return drivers are paid with an extra sum
          </p>

          <p>
            We will be serving people in future with food home delivery and
            online payments
          </p>
          <p>
            We are also regularly taking feedbacks from customers and working on
            them to make customers life uncomplicated and also grow our
            community
          </p>
        </div>
      </div>
      <div class="howToReg">
        <div class="text">
          <h1>How To get started</h1>
          <ul>
            <li>Complete the Signup form and apply to become a driver.</li>
            <li>
              After filling the form, please select your training slot- you can
              train online or at our offices.
            </li>
            <li>
              After completing your training successfully you will be
              authorized. Signin to your account and start earning
            </li>
          </ul>
        </div>
        <div class="picture">
          <img src="images/slide5.jpg" alt="This is an image" />
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="col-md-3 box_3">
          <h3>About Us</h3>
          <p>
            our first priority is to simplify and improve the life of other
            people, and inspire others as an organization
          </p>
        </div>
        <!------------------------Edited -->
        <div class="col-md-3 box_5"></div>
        <div class="col-md-3 box_5">
          <h3>Site Map</h3>
          <div class="footer-list1">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 box_5">
          <h3>Contact Us</h3>
          <div class="footer-list">
            <ul>
              <li class="list_top">
                <i class="fa fa-address-card">
                  COMSATS University, Mansehra Road, Abbottabad
                </i>
              </li>
              <li class="list_top">
                <i class="fa fa-phone"> 0374-8675234 </i>
              </li>
              <li class="list_top">
                <i class="fa fa-address-card"> usmansardar247@gmail.com</i>
              </li>
            </ul>
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="copy">
          <p>
            © 2019 All Rights Reseved Designed by
            <a href="#">COMSATS</a>
          </p>
        </div>
        <div class="footer_social">
          <a href=""><i class="fa fa-facebook"></i></a>

          <a href=""><i class="fa fa-instagram"></i></a>

          <a href=""><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
